/* This is an example of using Sass, otherwise plain CSS works too*/
*{margin: 10px; padding:0}


body {
  background-image: url(../images/home-background.jpg);
  // padding-top: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
  font-weight: 600;
  font-size: 80px;

}

// h2 {
//   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//   font-weight: 400;
//   font-size: 24px
// }

.login-form-container {
  display: flex;
  align-items: center;
  width: 40vh;
  height: auto;
  padding: 20px 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #000;
  margin: auto;
    h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 24px
    }
}

ul.login-form {
  width: 37vh;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}

ul.login-form li {
  justify-content: center;
  margin-bottom: 15px;
}

ul.login-form input {
  width:250px;
  font-size: medium;
  text-align: center;
  padding: 10px 0px;
  border: none;
  background-color: lightgray;
  border-radius: 5px;
}

ul.login-form li input[type='button'] {
  background-color: lightseagreen;
  color: white;
}

ul.login-form p {
  color: darkblue;
}

.guest-dashboard {
  display: flex;
  align-items: center;
  width:100vh;
  height: 50vh;
  padding: 20px 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #000;
  margin: auto;
}

.guest-welcome-box {
  background: transparent;
  color: blue;
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}


.hide {
  display: none;
}
