$sky-blue: #195B8C;
$dark-blue: #082244;

@mixin input-form($width) {
  width: $width;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}

@mixin dashboards{
  width: 1000px;
  height: 500px;
  margin: 2%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

*{margin: 10px; padding:0}


body {
  background-image: url(../images/home-background.jpg);
  // padding-top: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
  font-weight: 600;
  font-size: 80px;

}

// h2 {
//   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//   font-weight: 400;
//   font-size: 24px
// }

.login-form-container {
  display: flex;
  align-items: center;
  width: 40vh;
  height: auto;
  padding: 20px 30px;
  background: whitesmoke;
  opacity: .90;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #000;
  margin: auto;
    h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 24px
    }
}

ul.login-form {
@include input-form(37vh);
}

ul.login-form li {
  justify-content: center;
  margin-bottom: 15px;
}

ul.login-form input {
  width:250px;
  font-size: medium;
  text-align: center;
  padding: 10px 0px;
  border: none;
  background-color: lightgray;
  border-radius: 5px;
}

ul.login-form li input[type='button'] {
  background-color: lightseagreen;
  color: white;
}

ul.login-form p {
  color: darkblue;
}

.guest-dashboard,
.manager-dashboard,
.booking-display {
@include dashboards()
}

.book-room-search {
  list-style-type: none;
  text-align: center;
}

.booking-display,
.guest-dashboard {
  background-color: white;
  opacity: .90;
  width: 50vmax;
  height: 80vmax;
  overflow: scroll;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #000;
  margin: auto;
  list-style-type: none;
}

.card-line {
  border-bottom:solid 1.5px lightseagreen;
  width: 100%;
  margin: 15px 0px 15px 0px;
}


.hide {
  display: none;
}
